html, body {text-align: center;
padding: 0;
margin: 0;
font-family: 'Roboto';}

h2 {color:#ffff;}
h3{color:#ffff}



.container { max-width: 340px;
	margin-left: auto;
  margin-right: auto;
	 }

@media (min-width: 770px){
.container {max-width:720px;}}

@media (min-width: 1040px){
.container {max-width: 940px;}}

@media (min-width: 1250px){
.container {max-width: 1140px;}}

body{background-image: url(0228b7df-2747-4967-85ce-f371f7d81810.jpg);}

body {color: white}

.container
{box-sizing: border-box;
	border-style: solid;
border-radius: 10px;}
